[2017-06-14 09:03] My1 opened #1 "Admin permissions?"
why does the portable discord setup immediately trigger the UAC?

isnt portable kinda supposed to work without admin and stuff?

[2017-06-14 09:05] crazy-max commented on #1
@My1, the portable wrapper `discord-portable.exe` does not need admin rights but maybe discord itself needs it for extra steps. I will investigate on that.

[2017-06-14 09:06] My1 commented on #1
well the problem is in the setup. extracting the zip seems fine.

[2017-06-14 09:09] My1 commented on #1
well keyword on seems, with extracting the zip and running it I am caught in an update loop. it pulls an update, restarts and pulls an update again always saying "update 1 of 1".

[2017-06-14 09:18] crazy-max commented on #1
Ok thanks for your contrib i will remove the admin probe in the setup and investigate on your update issue.

[2017-06-14 09:39] crazy-max commented on #1
Hum i don't have any issue extracting and using the 7z and zip package.
What is the content of your `data` folder ?

[2017-06-14 09:43] My1 commented on #1
some folders called `0.2.97`, `Cache` and `GPUCache`
and 4 files called `Cookies`, `Cookies-journal`, `modules.log` and `queued_analytics_events.json`

[2017-06-14 09:51] crazy-max commented on #1
Ok can you post your `discord-portable.log` ?

[2017-06-14 10:24] My1 commented on #1
2017-06-14 11:05:03 INFO - --------
2017-06-14 11:05:03 INFO - Starting discord-portable...
2017-06-14 11:05:03 INFO - Current path: C:\Users\My1\Downloads\discord-portable-0.0.297-4
2017-06-14 11:05:03 INFO - Discord executable: C:\Users\My1\Downloads\discord-portable-0.0.297-4/Update.exe
2017-06-14 11:05:03 INFO - Data path: C:\Users\My1\Downloads\discord-portable-0.0.297-4/data
2017-06-14 11:05

[2017-07-17 19:42] MacgyverJohnson opened #2 "Add Discord PTB"
@crazy-max
I have been wondering around for eons for this so thanks in petrodollars 👍
Hoping to requesting for a feature:
Can you portablize PTB(private test build) as well....? Can I just copy contents of app folder [C:\Users\MacGyver\AppData\Local\DiscordPTB\app-0.0.32\DiscordPTB.exe] to $InstallDIR\app-0.0.3.x ?
Thanks in Advance

[2017-07-20 17:21] crazy-max commented on #1
Can you try with the latest release ?

[2017-07-20 17:23] crazy-max commented on #2
@MacgyverJohnson

Your welcome ;)
For your request, in fact PTB is _Public Test Build_ and yes i can portablize this one too but in an other repository. I think it works the same way as this one.
I keep you in touch.

[2017-07-20 18:07] #1 closed

[2017-07-20 19:20] crazy-max commented on #2
PTB (Public Test Build) portable version of Discord is available here : https://github.com/crazy-max/discord-ptb-portable

[2017-07-20 19:20] #2 closed

[2017-07-21 11:00] My1 commented on #1
thanks, worked nice.

[2017-08-12 15:01] wokawoka opened #3 "antivirus blocking discord-portable.exe"
Hello,
I just did try to run the latest version (0.0.298-10) of discord portable but my installation of avast antivirus did block and removed it labelling the exe as Win32:Malware-gen .
I did a quick test on virustotal and actually there are 12 more antivirus programs other than avast considering it as virus.
https://www.virustotal.com/#/file/e9e58946ff392e863efe72aeb107671fe253c4dece599f3ccb9d381

[2017-08-13 01:42] crazy-max commented on #3
Hi @wokawoka,

Win32:Malware-gen and others found by the VirusTotal scan are generic.
Most likely based on a heuristic detection. Heuristics are more prone to false-positive detections.
You can have more info about here : https://malwaretips.com/blogs/win32evo-gen-susp-virus/

I keep this issue opened for now and i will investigate on this.
And thanks for your contrib!

[2017-08-23 21:34] mrnategeek commented on #3
You know what? Move to a another framework "PortableApps", url is http://portableapps.com. I use that over 4 years and my antivirus has not detected a virus from them

[2017-08-26 05:32] kikoreta opened #4 "discord_voice.node error"
discord open with a black window and in the console show this error: Uncaught Error: The specified module can not be found.
\\?\E:\Programas\Portables\Discord\data\0.0.298\modules\discord_voice\discord_voice.node

[2017-08-26 05:53] MarioMasta64 commented on #4
an easy way to fix this (directed at the developer) is to extract the discord to a directory and have another directory set "UserProfile" all data will be kept locally. (some ie cache stuff and a few things will also store here along with msft stuff) on another note id like to see how you fix this. i like your project keep it up.

[2017-08-26 15:02] crazy-max commented on #3
Must be solved in the latest release (0.0.298-12)

[2017-08-26 15:02] #3 closed

[2017-08-26 15:02] crazy-max commented on #4
Solved in the latest release (0.0.298-12)

[2017-08-26 15:02] #4 closed

[2017-08-28 08:43] MarioMasta64 commented on #4
im curious. howddya do it? (or was it a discord issue?)

[2017-08-28 08:46] crazy-max commented on #4
Yep a Discord issue for me

[2017-08-28 08:50] MarioMasta64 commented on #4
thats one risk of portable-izing, an application has issues and now you have them xD also: virus scanners are great amirite? anything that comes into existence is basically a virus XD the best part is not knowing if you messed up or an application did. :D

[2017-08-28 08:54] crazy-max commented on #4
Yes it's not false! The executable created to make the portable application is a simple wrapper around the executable of Discord so in my opinion I greatly minimize the risks of bugs.
On the other hand, the antivirus detection and the signature of the executable is a recurring problem with the Go language :(

[2017-08-28 08:55] MarioMasta64 commented on #4
"go" language? i use batch for all my stuff as you probably see (and rather chaotic yet controlled coding methods) ;P

[2017-08-28 09:03] crazy-max commented on #4
Batch is a scripting language and is not so endorsed by end users ^^

[2017-08-28 09:54] MarioMasta64 commented on #4
people seem okay with it as far as i know and i <3 batch whats go language btw?

[2017-08-28 09:57] crazy-max commented on #4
What is golang ? : https://www.computerhope.com/jargon/g/golang.htm
Official website : https://golang.org/
Golang code of discord-portable : https://github.com/crazy-max/discord-portable/blob/master/main.go

Hope this helps ;)

[2017-08-28 10:01] MarioMasta64 commented on #4
fancy. i have a friend who makes alot of stuff in auto-it, another in python, me in batch, and now (maybe you? (friend thing)) in go :D

[2017-09-08 20:56] DaMatrix opened #5 "Compatibility with BetterDiscord?"
Hi! I'm trying to install BetterDiscord along side this for amazing portability + kewl themes. The installer crashes before finishing. Any chance you could make it compatible?

Thanks!

[2017-09-14 04:58] MarioMasta64 commented on #5
heres a hint. its a basic.net archive ;P it's not too hard to do it

[2017-09-15 08:38] crazy-max commented on #5
You can use DiscordPTB Portable for this purpose : https://github.com/crazy-max/discord-ptb-portable

![image](https://user-images.githubusercontent.com/1951866/30473821-f0620064-9a01-11e7-810b-c22903502410.png)

![image](https://user-images.githubusercontent.com/1951866/30473832-f5aabb2e-9a01-11e7-8b86-fb14fb5319fa.png)

[2017-09-15 08:38] #5 closed

[2017-09-15 14:08] DaMatrix commented on #5
ok, thanks!

[2017-09-26 21:54] GnstheGrain opened #6 "Support simultaneous multi-instance (feature request)"
***Feature description/purpose:***
_Support running multiple instances simultaneously, allowing user to use as many Discord Account/IDs at once._

#### Steps to reproduce this ~issue~ unimplemented feature
1. Launch discord-portable.exe
2. Launch discord-portable.exe (2nd instance)
3. Launch discord-portable.exe (3rd instance)
4. [...]

#### Actual behaviour
Launching each of those redirect to (re

[2017-10-26 20:41] crazy-max commented on #6
@GnstheGrain I will take a look on this feature, i keep you in touch.

[2017-11-17 05:48] couponstechie commented on #3
I got a virus today that nothing will remove. I've tried RKill, Zemana, HitmanPro, ESET,
Now I have switched my anti-virus to Norton.
http://couponstechie.blogspot.in/2017/11/do-you-need-norton-wifi-privacy.html

[2017-11-19 09:20] jyrkive opened #7 "Dozens of AVs detect the wrapper as malware"
https://www.virustotal.com/#/file/bb5e59d432cb3d06521c60ec3d877f2841664a39445e735d43859c131b4b5d3f/detection

32 AVs is so many that I'm rather going to believe that the latest version really *is* infected, rather than going to run it on my PC.

[2017-11-19 14:16] crazy-max commented on #7
Hi @jyrkive,

It's the same issue as #3, every detections found by VirusTotal scan are generic. Most likely based on a heuristic detection. Heuristics are more prone to false-positive detections.

This [happens quite often](https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue%20antivirus) with programs written in [Golang](https://golang.org/). The best you can do is to [report this](htt

[2017-11-19 15:34] crazy-max commented on #7
@jyrkive, can you try the [latest release](https://github.com/portapps/discord-portable/releases/latest) ? Thx

[2017-11-19 15:36] crazy-max commented on #7
I have submit `discord-portable.exe` to Kaspersky for example and here is their response :

[2017-11-20 18:33] jyrkive commented on #7
Thanks, it's much better now. :)

[2017-11-20 23:56] #7 closed

[2018-01-13 02:15] wazerstar opened #8 "After reformat my settings is lost"
Hello I dont think this is really an issue but, would be really nice feature to be allowed to save appdata settings into the portable folder, or make it read from manually entry creating the files for it?

[2018-01-13 02:18] crazy-max commented on #8
Hi,

Yes it's an issue, can you follow [those steps](https://github.com/portapps/discord-portable/blob/master/.github/SUPPORT.md) to create your issue please ?
And can you post the structure of your discord-portable folder also ?

[2018-01-13 04:00] wazerstar commented on #8
I cannot provide you info since I did a clean state of the portable installation now, so you wont get any info from that, But I can assure you the structure was like the portable installation or zip at that time I downloaded was unchanged, we talk maybe last year around mid 2017 or oct release.

[2018-01-13 04:08] crazy-max commented on #8
Ok and after you format your computer, you copy back the `discord-portable` folder on your new system right ?

[2018-01-13 04:10] wazerstar commented on #8
I had the entire folder on another drive which was never touched or moved in Any way, even the secondary drive was assigned as e: before and after the format.

[2018-01-13 04:16] crazy-max commented on #8
Ok this is a strange issue. Do you have your old `discord-portable.log` maybe ?

[2018-01-13 05:20] wazerstar commented on #8
No sorry nothing leftovers I removed the entire folder

[2018-01-13 05:21] crazy-max commented on #8
Ok keep me in touch if you have a similar issue next time

[2018-01-13 05:21] #8 closed

[2018-01-13 05:23] crazy-max commented on #6
Hi @GnstheGrain, i've worked on this feature and it will be available in the next release ;)

[2018-01-13 07:10] crazy-max commented on #6
Implemented in latest release : https://github.com/portapps/discord-portable/releases/tag/0.0.300-19
For your last point about machine id, open a new issue please.

[2018-01-13 07:10] #6 closed

[2018-01-22 18:30] spartaque12 opened #9 "installation of betterdiscord"
https://i.imgur.com/6WKUbYV.png

[2018-01-22 18:43] spartaque12 commented on #9
i've installed him , u can close

[2018-01-22 18:43] #9 closed

[2018-02-11 12:51] jyrkive opened #10 "Discord Portable adds itself to Add/Remove Programs"
I thought I had the regular Discord still hanging there for some reason and went to uninstall it from there.

Then I found out it had actually uninstalled Discord from the folder of Discord Portable.

It might be that Discord only adds itself to Add/Remove Programs when it updates itself. I haven't monitored when exactly it appeared in the list.

[2018-02-11 13:44] crazy-max commented on #10
Hi @jyrkive,

I was able to reproduce your issue. Adding to  Add/Remove Programs occurs when automatically updating Discord. I'll look to disable the automatic update.

[2018-02-11 17:48] crazy-max commented on #10
Solved in latest release

[2018-02-11 17:48] #10 closed

[2018-02-11 18:31] jyrkive commented on #10
Thanks! 👍

[2018-02-20 12:54] srg84 opened #11 "Not really a portable application."
Hi,

This package is not really portable, when i format my pc, all settings and login information is erased and need to reconfigure all settings

[2018-02-20 12:55] crazy-max commented on #11
Hi @srg84, can you send your log file ?

[2018-02-20 12:58] srg84 commented on #11
[00:00:00.000][PID   1048] Initializing overlay with binary path \\?\D:\DATOS\Programas\DiscordPortable\Data\AppData\discord\0.0.300\modules\discord_overlay2\2

[00:00:00.241][PID   1048]

[00:00:00.488][PID   1048]

[00:00:00.000][PID   8204] Initializing overlay with binary path \\?\D:\DATOS\Programas\DiscordPortable\Data\AppData\discord\0.0.300\modules\discord_overlay2\2

[00:00:00.245][PID   8

[2018-02-20 12:59] srg84 commented on #11
[Modules] Modules initializing
[Modules] Distribution: remote
[Modules] Host updates: enabled
[Modules] Module updates: enabled
[Modules] Module install path: C:\Users\Sergio\AppData\Roaming\discord\0.0.300\modules
[Modules] Module installed file path: C:\Users\Sergio\AppData\Roaming\discord\0.0.300\modules\installed.json
[Modules] Module download path: C:\Users\Sergio\AppData\Roaming\discord\0.0.

[2018-02-20 13:00] srg84 commented on #11
Maybe some registry settings are outside the sandbox?

[2018-02-20 13:02] crazy-max commented on #11
Hum your folder structure is not the same. Could you post a screenshot of this folder's content : `D:\DATOS\Programas\DiscordPortable` and `D:\DATOS\Programas\DiscordPortable\data`.
Thanks

[2018-02-20 13:08] srg84 commented on #11
Here:

https://imgur.com/a/MgbIY

Dunno why all settings are erased, i mean i see the link when discord portable is running on

"\AppData\Roaming\discord"

And unmounted when discord closes, maybe the program detect some Windows changes and reset itself?

[2018-02-20 13:25] crazy-max commented on #11
The folder structure does not correspond to a portapps app.
It seems to be a PortableApps structure. Where do you download and install this portable app ?

This should be something like this :

![image](https://user-images.githubusercontent.com/1951866/36426283-db16e336-1649-11e8-99af-fb090d3b38f2.png)

[2018-02-20 13:25] #11 closed

[2018-02-20 14:05] srg84 commented on #11
Your the man!,

The problem was mi installation was corrupted, i tried deleting all, putting settings, formating windows.

And now all is stored.

Thank you, delete this and sorry for losing your time...

[2018-02-20 14:06] crazy-max commented on #11
No problem ;)

[2018-08-21 07:59] MrCharisma opened #12 "Blank Icon"
Issue:
When launching Discord the icon is blank and is not using the correct Icon.

![capture](https://user-images.githubusercontent.com/32368259/44388621-78431980-a520-11e8-8003-a0452d6245e5.PNG)

[2018-08-21 08:01] crazy-max commented on #12
Hi @jamiestinson05 can you follow the SUPPORT.md page please? Thanks :)
And i think it's related to portapps/slack-portable#12

[2018-08-21 08:11] jamiestinson05 commented on #12
Issue:
When launching Discord the icon is blank and is not using the correct Icon.

Configuration:
0.0.301-23 win32

Windows 10 Home 64 Bit
![image](https://user-images.githubusercontent.com/32368259/44389159-010e8500-a522-11e8-9a41-39f804aa1184.png)

Logs:
[discord-portable.log](https://github.com/portapps/discord-portable/files/2305366/discord-portable.log)

@crazy-max I also tried copying app/a

[2018-08-21 08:35] crazy-max commented on #12
Ok thanks i keep you in touch

[2018-09-27 20:37] crazy-max commented on #12
Can you post a screenshot of the content of `discord-portable/data` please ?

[2018-09-28 11:12] MrCharisma commented on #12
@crazy-max Forgot to reply to this, issue was resolved about a week ago. Not sure how a fix occurred I moved the folder from the C drive to another drive and the issue was resolved.

[2018-09-28 12:06] #12 closed

[2018-12-07 03:09] neodyne opened #13 "Discord Portable creates a shortcut in start menu on launch"
Using the latest `discord-portable-win32-0.0.301-24-setup.exe`, fully updated, on Windows 10 x64 v1809. No other instances of Discord installed.

Each time the app is run (from `discord-portable.exe`), it creates a shortcut to the main executable (not the wrapper) in start menu. This can also be seen when inspecting `discord-portable.log`:

`INFO : 2018/12/06 01:52:13.326320 main.go:51: --------`

[2018-12-08 00:57] crazy-max commented on #13
@neodyne This behavior was introduced by rocketchat-portable/issues#3 :

We could remove the shortcut on close for example. What do you think ?

[2018-12-08 01:36] neodyne commented on #13
Good to know! By the way, this may be relevant to Discord PTB as well.

[2018-12-08 01:38] crazy-max commented on #13
Yes indeed and others Portapp based on Electron too. I will push an update asap, thanks for your input

[2019-01-10 23:10] crazy-max commented on #13
Should be fixed now

[2019-01-10 23:10] #13 closed

[2019-01-24 21:49] Machou opened #14 "Discord Create a Shortcut in my Programs List"
Hi :)

When I launch **Discord**, the latest version (_0.0.304-27_), it creates a shortcut in the list of my programs.

Apparently the bug has been "fixed" in version _0.0.301-25_, but unfortunately, but not for me anyway :P, I am on **Windows 7 - 64 bit French version**.

This is a screenshot : https://i.ibb.co/HqDGBXs/Screenshot-Discord-Portable.jpg

Is it possible to fix this bug that has been

[2019-01-25 19:11] crazy-max commented on #14
Hi @Machou, the shortcut will be deleted when Discord is closed.

[2019-01-25 19:11] #14 closed

[2019-01-25 20:15] Machou commented on #14
Not for me ^^

[2019-03-14 08:21] patrickdrd opened #15 "settings issue"
hello,
IMO the user files and settings should be stored outside the app folder
(like paf are doing),
because I updated today and I missed my login, settings, etc,
are the settings retained at least?
I can't check now, because I don't have access to discord servers at work,
but I would like to check if it's "start with windows" setting is disabled as I set it to in the previous installation,

also,

[2019-03-15 15:38] crazy-max commented on #15
Hello @patrickdrd !
User files are already stored outside the `app` folder (in `data` folder).
From which version have you upgraded?
Also yes "start with Windows" is disabled but we can add a setting param for this.
Can you post your log file and follow the "reporting an issue" page please : https://portapps.io/doc/reporting-issue/

[2019-03-15 16:35] patrickdrd commented on #15
actually the user files weren't there for me, I've also noticed that I had to login each time I opened the app with the latest version, I updated from 0.305
start with Windows was enabled after updating as well and I had to disable it
I waited a while for you to answer but yesterday I installed another portable from someone else, I don't remember and I updated the core files and everything works f

[2019-03-15 16:54] #15 closed

[2019-08-28 01:37] nmhung1985 opened #16 "Updating on starting"
When starting the program, it shows "Updating 1 of 5...". Is this normal and the automatic update is still disabled, or is this a bug?

I'm using the 305-1 version on Win 10 1607.

[2019-08-29 20:46] crazy-max commented on #16
Yes, some Discord modules are updated automatically. This is why Portapps does not often deliver versions of Discord. Only the [major versions provided by Discord](https://discordapp.com/api/updates/stable?platform=win) are available for download on [portapps.io](https://portapps.io/).

[2019-08-29 20:46] #16 closed

[2019-10-08 00:21] Forceflow opened #17 "Appdata/Roaming/Discord folder still created for logs"
Install the latest discord-portable. Notice how on app startup the folder C:\Users\(username)\AppData\Roaming\Discord\logs is still created. Empty, but there :)

Not a huge issue, of course, just thought I'd report through the proper channels.

Tested with 0.0.305 release.

[2019-10-08 19:53] crazy-max commented on #17
@Forceflow Yes this is a [known issue](https://github.com/portapps/franz-portable/issues/3) with Electron based apps unfortunately. Will try to get around that. Anyway thanks for your feedback :)

[2019-10-09 02:37] Forceflow commented on #17
I suspected as much. Ah well, it's definitely not a huge issue, but I thought it could indicate more data leakage in the future.

[2019-10-09 07:33] crazy-max commented on #17
Yes and looks like it's solved since Electron 6.

[2019-10-15 23:49] jashoewa opened #18 "Blank Grey Window"
### Behaviour

On launch a maximized grey window is open for a few seconds. I added --start-minimized to the discord-portable.yml file since I launch the program on startup from the Windows 10 task scheduler.

[discord-portable.yml.txt](https://github.com/portapps/discord-portable/files/3731814/discord-portable.yml.txt) (renamed to .txt for upload)

#### Steps to reproduce this issue

1. Open Disc

[2019-10-16 18:31] crazy-max commented on #18
Hi @jashoewa,

It's an upstream issue from Discord, nothing to do with Portapps. I suggest to [contact them](https://support.discordapp.com/hc/en-us/articles/115000465492-How-to-Report-Bugs) to fix this. See also https://www.reddit.com/r/discordapp/comments/8ov1uy/discord_grey_screen_problem/

Anyway thanks for your report!

[2019-10-16 18:31] #18 closed

[2019-12-14 18:36] chrono394 opened #25 "A logout bug"
When I eject my USB _(with discord portable, of course.)_ It will sometimes log out of my account, I would like this to be **fixed**.

[2019-12-14 18:52] crazy-max commented on #25
Try to remove the harddrive of your computer and let me know if Windows still works

[2019-12-14 18:52] #25 closed

[2019-12-15 14:18] crazy-max commented on #17
@Forceflow This has been fixed through a opt-in `cleanup` config parameter. See Configuration section in https://portapps.io/app/discord-portable/#infos for more info.

[2019-12-15 14:18] #17 closed

[2020-03-16 22:10] Blue2689 opened #28 "How do you install"
### Behaviour

#### Steps to reproduce this issue

1.
2.
3.

#### Expected behaviour

#### Actual behaviour

### Configuration

**App release / arch (ex. 1.0.0-2 win64)** :

**Operating system (ex. Windows 10 Pro 64 bits)** :

**Winver screenshot** :

### Screenshots

### Logs

Join the log file `log\[appname]-portable.log` to this issue.

[2020-03-18 14:12] crazy-max commented on #28
https://portapps.io/app/discord-portable/#installation

[2020-03-18 14:12] #28 closed

[2020-07-08 07:56] bmwGTR opened #37 "Proxy support"
Hello,

thank you for your work, running fine!
For Discord there is a workaround how to set a proxy for it - is this also possible for Discord portable?
https://www.reddit.com/r/discordapp/comments/b20a0x/method_of_setting_a_proxy_for_discord/

[2020-08-07 19:47] crazy-max commented on #37
Hi @bmwGTR, I will take a look on this, thanks for your input.

[2020-08-07 21:53] xmha97 opened #41 "Use larger icons"
Hi,
Please use larger icons (256x256)
![Windows File Explorer](https://user-images.githubusercontent.com/23485114/89691410-261e7d00-d91e-11ea-8107-6518be071835.png)

[2020-08-07 22:10] crazy-max commented on #41
Hi @xmha97, I move this issue to the core repo as it is a global issue. Thanks for your input.

[2020-08-16 01:07] helpme1 opened #43 "Does this portable discord version auto-updates?"
Do I have to manually update the discord portable software to latest version or does it auto-update by itself? The non-portable discord software auto-updates by itself.

[2020-08-16 01:26] crazy-max commented on #43
@helpme1 Only the Discord modules are automatically updated on startup. The Discord portable app itseff has to be downloaded and installed manually. More info portapps/portapps#13

[2020-08-16 01:26] #43 closed

[2020-08-16 01:35] crazy-max commented on #37
@bmwGTR You can use the flag `--proxy-server=http://127.0.0.1:1080` through the `discord-portable.yml` configuration:

[code]

[2020-08-16 01:35] #37 closed

[2020-09-07 21:47] git-nico opened #46 "McAfee detects virus"
Would love to use your portable apps but I cant use the latest version because McAfee thinks it contains a virus.
Version 0.0.305 does not have that issue.
I hope something can be done about it. I have similar issues with brave-portable.
![discord-virus-detectie](https://user-images.githubusercontent.com/51365811/92417789-55feb180-f164-11ea-9d4e-f933ac52cbb2.png)

[2020-09-07 21:51] crazy-max commented on #46
@git-nico Sometimes Antivirus scanner reports that a program is infected with a Virus or Trojan, even when the program is not really infected with any malicious code. This kind of problem is known as "False Positive". In other words, [Antivirus companies cause a big headache to small developers](http://blog.nirsoft.net/2009/05/17/antivirus-companies-cause-a-big-headache-to-small-developers/).

As

[2020-09-07 21:51] #46 closed

[2020-09-29 14:13] infide1 opened #49 "RTC Connecting issue"
After latest update, voice chat cannot be initiated.
RTC Connecting remains on the bottom left.
Official release works on same pc with same discord account

[2020-09-29 17:33] crazy-max commented on #49
@infide1 Cannot reproduce your issue, it's working for me:

![image](https://user-images.githubusercontent.com/1951866/94595019-c25b6500-0279-11eb-8282-e5ce1d577249.png)

Does it work with the previous release? (0.0.307-5). Also please create a [proper bug report](https://portapps.io/doc/reporting-issue/).

[2020-09-29 17:33] #49 closed

[2020-09-30 09:14] infide1 commented on #49
Sorry for the incomplete report. The update must have failed somehow. My discord portable folder\app had 2 folders inside
app-0.0.305 and app-0.0.308. it appears the update somehow failed to delete app-0.0.305 and i was running 305

[2020-09-30 09:47] crazy-max commented on #49
Ok thanks for your input, I will take a look about the deletion issue

[2020-10-02 19:32] mdfazlerabbi145 opened #51 "Cleanup force should delete "C:\Users\Username\AppData\Local\Temp\Discord Crashes""
There is a log folder in the temp directory which leaves traces.

Cleanup force parameter should delete this: "C:\Users\Username\AppData\Local\Temp\Discord Crashes"

### Configuration

##

* Portapps 1.31.0
**App release** : 0.0.305-2 (2019/12/15)

**Operating system** : Windows 10 Pro 64 bits

[2020-10-15 21:43] crazy-max commented on #51
@mdfazlerabbi145 LGTM, thanks for your input.

[2020-10-18 02:50] thegreatestminer opened #52 ""Discord Portable" shortcut appears while running and disappears after exiting."
Don't know if this is intentional or not, but wouldn't it make more sense to not have any shortcuts created in the first place?

[2020-10-18 12:13] thegreatestminer commented on #51
Should be `%TEMP%\Discord Crashes`.

[2020-11-24 10:33] Chaython commented on #51
Should put it in the portable data folder or disable crash logging...

[2020-12-12 14:20] crazy-max commented on #52
@thegreatestminer See https://github.com/portapps/phyrox-portable/issues/16#issuecomment-578127524

[2020-12-12 14:20] #52 closed

[2020-12-26 20:47] ezonius opened #56 "Unable to run discord-portable.exe as administrator."
![image](https://user-images.githubusercontent.com/61872098/103158849-de13d000-47c2-11eb-84a6-25ee9f2c0542.png)

Happens on Windows 10. Runs just fine without trying to run as administrator, but running Discord as admin is needed if you use push-to-talk and other apps are running as administrator.

There is nothing in the log.

[2020-12-26 21:56] crazy-max commented on #56
Should be fixed with latest release: https://portapps.io/app/discord-portable/#download

[2020-12-26 21:56] #56 closed

[2020-12-26 22:00] crazy-max commented on #51
Should be fixed with latest release: https://portapps.io/app/discord-portable/#download

[2020-12-26 22:00] #51 closed

[2021-02-04 22:31] devintly opened #57 "Folder HKEY_CURRENT_USER\SOFTWARE\Discord in registry doesn't delete after close."

[2021-03-04 19:49] HolyPeanut opened #61 "You absolutely cannot get this thing off your PC"
Once you've plugged in the USB and used discord through it it sticks around as your discord's shortcut and EXE without any way to remove it, not through deleting discord, not in regedit, nothing. Hell, this thing's so persistent you could call it a virus, all i want is a way to remove the .ink/.exe that comes with this, so i can have discord launch with it's own icon

[2021-03-04 20:12] crazy-max commented on #61
Then create a [bug report](https://github.com/portapps/discord-portable/issues/new?assignees=&labels=&template=bug_report.md), thanks.

[2021-03-04 20:12] #61 closed

[2021-03-04 20:13] crazy-max commented on #57
Thanks for your feedback, I will improve the cleanup step.

[2021-03-09 14:50] hldh214 opened #62 "Infinity crash on windows 10"
### Behaviour

#### Steps to reproduce this issue

1. Start discord-portable.exe

#### Expected behaviour

App run normally

#### Actual behaviour

Infinity crash and restart the app

### Configuration

**App release / arch (ex. 1.0.0-2 win64)** : discord-portable-win32-0.0.309-7-setup.exe

**Operating system (ex. Windows 10 Pro 64 bits)** : windows 10 (17763.1790)

**Winver screenshot** :

![imag

[2021-03-09 15:33] hldh214 commented on #62
![image](https://user-images.githubusercontent.com/5501843/110495736-c1cfd000-812f-11eb-892c-7f1ff705fdf5.png)
Things happened even switching to the English display language.

[2021-03-09 17:00] crazy-max commented on #62
@hldh214 Thanks for your feedback. Do you have the same issue with the regular discord setup? : https://github.com/portapps/discord-portable/releases/download/0.0.309-7/DiscordSetup-win32.exe

[2021-03-10 13:53] hldh214 commented on #62
Indeed... So that's not an issue w/ this project. I'll submit a ticket to their support team. Thanks for the help~

[2021-03-10 13:53] #62 closed

[2021-03-15 13:12] Fundryi opened #63 "[Suggestion] BetterDiscord Support"
Would be really cool if a BD could be supported somehow x)
Didn't manage to get it work, whenever I would start Portable Discord with BD installed it would give me an error.
It adds several options for custom-made content like Themes and Plugins.

https://betterdiscord.net/home/
https://github.com/jiiks/betterdiscordapp

Regards

[2021-03-15 13:24] crazy-max commented on #63
@Fundryi BetterDiscord is outdated and not compatible anymore with Discord. BandagedBD is another one but not compatible with portable discord. See https://github.com/portapps/discord-ptb-portable/issues/29#issuecomment-751399940.

[2021-03-15 13:24] #63 closed

[2021-03-15 13:41] Fundryi commented on #63
I see no support, alright :,(

[2021-03-19 01:13] JeffHoogland opened #64 "Viruses in release files?"
On the release downloads page there are viruses listed in your installer file according to a scan it looks like GitHub does?

discord-portable-win32.exe is the file in question.

Report the GitHub tool generated here: https://www.virustotal.com/gui/file/91d46ae0c74129ea17230da62a8443ae6c8d29bd98171b852301918bd3147947/detection

[2021-03-19 08:55] crazy-max commented on #64
@JeffHoogland https://github.com/portapps/discord-portable/issues/46#issuecomment-688520503

[2021-03-19 08:55] #64 closed

[2021-04-12 14:48] devintly opened #65 "Clean caсhed files"
This is an improvement, not a bug. It would be nice to add a clear cache item to the discord-portable.yml file. How to clear the cache: you need to delete the "Cache", "Code Cache", "GPUCache", "Session Storage" folders, which are located in the "Discord Portable\data" directory. Thank you!

[2021-04-15 21:38] sh1ft-github opened #66 "JavaScript error after proceeding with the installation of BetterDiscord for both latest versions"
### Behaviour

#### Steps to reproduce this issue

1. Download both latest versions of Discord Portable and BetterDiscord
2. Install Discord Portable
3. Install BetterDiscord
4. _THE ERROR_

#### Expected behaviour

#### Actual behaviour

### Configuration

**App release / arch (ex. 1.0.0-2 win64)** : win64

**Operating system (ex. Windows 10 Pro 64 bits)** : Windows 10 Pro 64 bits

**Winver scree

[2021-04-15 21:59] crazy-max commented on #66
@sh1ft-github https://github.com/portapps/discord-portable/issues/63#issuecomment-799416159

[2021-04-15 21:59] #66 closed

[2021-04-15 22:07] sh1ft-github commented on #63
Do you by any chance know the last supported version of Discord Portable that worked with BetterDiscord? I could just install an older version since you offer them on your website.

[2021-04-15 23:03] sh1ft-github commented on #63
Do you by any chance know the last supported version of Discord Portable that worked with BetterDiscord? I could just install an older version since you offer them on your website.

[2021-04-16 17:46] Fundryi commented on #63
https://github.com/rauenzi/BetterDiscordApp
That's the one I'm Using with CanaryDiscord. Working fine for me x)

[2021-04-28 04:03] Chaython opened #67 "Discord 1.0.9001"
Update for 1.0.9001
Previous updates, the internal updater, worked as portable, but with this newest discord update, the portapps launcher will launch the older version of discord, and despite 1.0.9001 installing to the portable folder, it puts all appdata in roaming etc.

[discord-portable.log](https://github.com/portapps/discord-portable/files/6389615/discord-portable.log)

[2021-04-28 08:07] crazy-max commented on #67
@Chaython Thanks for your feedback. Looks like main module has been updated from 0.0.309 to 1.0.9001 cilently. We'll make the update soon. Keep you in touch.

[2021-05-18 19:21] shojimeguro commented on #67
this is also happened to me, so for now i cannot update it until this is fixed

[2021-06-06 13:59] maxstlk commented on #67
Sorry to bother, but you, probably, forgot about it =)

[2021-06-10 23:29] crazy-max commented on #67
Working on it guys. I have two issues with v1.x.x of Discord atm:

* [x] Handle `installer.db` to be able to manage versioning without crashing portable
* [ ] Skip host update

I have managed to fix the first issue last week. Needs to fix the last one and will be good to create a release.

[2021-06-10 23:32] crazy-max commented on #67
@maxstlk

I've got an enhanced dashboard to handle all my backlog across GitHub with priorities so no I'm aware of this but I've got many projects to maintain. So please be patient or contribute. Thanks.

[2021-06-13 16:03] Zealest commented on #67
No problem man, take your time!

[2021-06-20 01:23] fahmiyufrizal commented on #67
Take ur time and do ur best, man!
We'll waiting, ur project helped a lot of internet cafe here!

[2021-07-27 23:00] SixelAlexiS90 opened #75 "Is it possible to block Discord Portable to auto-update?"
Hello, I want to know if I can avoid to let the Portable Discord got from your site to got updated to the latest version.

I ask since one of the latest versions of Discord has a bug with Mic Test and I need to use that function for something else.
Thanks :)

[2021-08-23 00:24] crazy-max commented on #75
See https://github.com/portapps/discord-portable/issues/67#issuecomment-859152721

[2021-08-31 23:03] #75 closed

[2021-08-31 23:09] crazy-max commented on #67
Using a pinned manifest to "disable" auto-update seems to work for now. Can you try https://github.com/portapps/discord-portable/releases/tag/1.0.9002-9? Thx.

[2021-09-01 13:43] fahmiyufrizal commented on #67
![Screenshot (1)](https://user-images.githubusercontent.com/60032856/131682205-025dd4a9-ebe2-4581-95b9-31b663b07799.png)
Is it normal to update it?

[2021-09-01 13:50] crazy-max commented on #67
@fahmiyufrizal

Yes this is just the modules not host update (aka core).

[2021-09-01 14:42] crazy-max commented on #67
@fahmiyufrizal Great, let's wait for the next iteration (1.0.9003) to see if pinned manifest still works.

[2021-09-02 07:07] TheDutchJewel opened #76 "v1.0.9002-9 - Discord creates folders in %appdata% without deleting it when closed"
Discord v1.0.9002-9 creates `%appdata%\discord\Dictionaries` without deleting it when Discord is closed.

[2021-09-05 18:45] crazy-max commented on #76
@TheDutchJewel https://github.com/portapps/discord-portable/issues/17#issuecomment-565813795

[2021-09-05 18:45] #76 closed

[2021-09-05 19:31] crazy-max commented on #67
https://portapps.io/app/discord-portable/#download

[2021-09-05 19:31] #67 closed

[2021-09-07 15:02] Austcool-Walker opened #77 "How do I manually build this software?"
Hi I noticed you basically built discord app for 32bit windows 7+ I want to use this project for building the discord app for many unsupported platforms. Would you mind sharing how to build this so I can build this for other types of computers? Like the Commands issued during the electron build process? If you could I'd be grateful!

[2021-09-27 00:45] crazy-max commented on #77
Discord only provides win 32bits binary. Link can be seen [here](https://github.com/portapps/discord-portable/blob/c676e05c27675929f0987e0974821ae5dcd26847/build.properties#L40).

[2021-09-27 00:45] #77 closed

[2021-10-05 22:04] DodoGames7 commented on #67
1.0.9003 is here now

[2021-10-31 00:24] Mitch037 opened #78 "Crash on logging"
When I'm trying to log into Discord it crashes. Here's a piece of the log file:

C:/Users/runneradmin/go/pkg/mod/github.com/portapps/portapps/v3@v3.3.1/portapps.go:211 > Closing Discord

[2021-11-03 04:51] nulledone opened #79 "New BetterDiscord2 is not working on 1.0.9003 whereas works fine on 9002"
Here's the error;
![1](https://user-images.githubusercontent.com/29547468/140010075-623d0b8a-ef53-43e0-b5ca-bac3c8ce28e0.png)

I've also checked following, however still wanted to point out the issue since BetterDiscord is now an active project;
https://github.com/portapps/discord-portable/issues/66
https://github.com/portapps/discord-portable/issues/63#issuecomment-799416159

[2021-11-21 18:06] crazy-max commented on #79
Sorry we don't bring support for BetterDiscord but feel free to contribute if you want that to be fixed here.

[2021-11-21 18:06] #79 closed

[2021-12-04 17:13] Rinat84 commented on #78
Помогает discord-portable.yml
[code]

[2021-12-15 07:32] Chaython opened #80 "Error on run "unmarshal portapp-prev: Invalid Character '\x00'""
### Behaviour

#### Steps to reproduce this issue

1. System hangs
2. Force shutdown system
3. Discord portable corrupted [despite already being closed before system shutdown]
4. Trying to overwrite with clean files from the github release continued the error
5. Copying discord data to a clean folder, fixed the error.

#### Expected behaviour

#### Actual behaviour

### Configuration

**App releas

[2021-12-20 11:50] Mitch037 commented on #78
Now it's working fine. Thank you!

[2021-12-23 18:52] Mitch037 opened #81 "AppData\Roaming leftovers"
1. AppData\Roaming\discord\Dictionaries

[2022-01-22 05:13] SMOO7 opened #82 "Discord And DiscordPTB ( Portable versions ) not working with BetterDiscord"
### Behaviour

#### Steps to reproduce this issue

1. Install Any version of Discord portable versions.
2. Open them and join to any account.
3. Try to install BetterDiscord on that version.
4. Most of the time you won't ran into any issues with installing.
5. Now run that version you installed BetterDiscord on.

#### Expected behaviour

Running exactly as the non-portable version.

#### Actual be

[2022-01-22 05:19] #82 closed

[2022-01-22 05:20] SMOO7 commented on #82
Sorry i just relise there's old posts about this :), and that is BD is not supported

[2022-02-25 19:24] SonaliBendre opened #84 "Please update to latest discord version"
self explanatory

[2022-03-06 21:44] crazy-max commented on #84
As explained [on this page](https://portapps.io/doc/reporting-issue/): "We are aware of and notified of new application updates. So there’s no need to create an issue to update an application.".

[2022-03-06 21:44] #84 closed

[2022-03-06 21:58] #78 closed

[2022-03-06 21:58] #80 closed

[2022-03-07 18:36] devintly commented on #65
Hello, will you add this option in future?)

[2022-04-13 13:05] Kingminer7 opened #90 "Updater infinitely tries to update"
I can't get into Discord because the updater doesn't work for me.

[2022-04-26 14:11] fluffynuts opened #91 "portable discord no longer respects single instance - launches a new instance on each invocation"
### Behaviour

#### Steps to reproduce this issue

1. download and unpack https://github.com/portapps/discord-portable/releases/download/1.0.9004-11/discord-portable-win32-1.0.9004-11.7z
2. run `discord-portable.exe`, get the app fully up (logged in, etc)
3. run `discord-portable.exe` again - observe a second instance launching (and I get prompted to log in again)

If I shut both instances down an

[2022-05-09 04:34] itsonlybarney commented on #90
I'm having an issue where Discord Portable tries to check for updates on first launch and gets stuck in a continual loop trying to do so.  This occurs both using the setup executable, and extracting from the 7z file.
![DiscordPortable_Update on Launch](https://user-images.githubusercontent.com/616622/167341290-1fc4d245-0a34-485f-9aec-9bf9ea8d2e2e.png)

[2022-06-14 04:32] SettingDust commented on #37
Can use now

[2022-07-15 02:51] #90 closed

[2022-11-20 03:28] wazerstar opened #96 "RTC Connection yellow since 19-11-2022 - using normal discord installation or web works fine."
### Behaviour

#### Steps to reproduce this issue

1. Download Latest version you guys have made in portable,
2. Connect to a discord room.
3. Check the connection as show in this picture https://i.imgur.com/2JOKXYN.png

#### Expected behaviour

#### Actual behaviour

### Configuration

**App release / arch (ex. 1.0.0-2 win64)** :

[1.0.9006-13](https://github.com/portapps/discord-portable/release

[2022-11-20 12:17] ErikExoteric commented on #96
I have the same problem too. I have a wild guess about it but it might be due to the current Host version for the Desktop Client being 1.0.900**7** while Discord Portable having 1.0.900**6**.

I've done the whole `flushdns` thing and the people have said all over the net as well as clearing the cache + deleting my own copy of Discord portable and reinstalling it on a different drive yet the proble

[2022-11-20 12:58] 99stem commented on #96
Can confirm.
I manually updated the portable version to the latest (1.0.9007), and it works now.

[2022-11-20 16:28] #96 closed

[2022-11-22 10:17] Brian2po opened #98 "[Bug] RTC connecting forever"
I don't know if it's just me but, RTC connecting forever just happened to my portable client

[2022-11-23 12:47] SirFors commented on #98
Hey, I confirm I have a similar problem, it is with the portable version

[2022-11-27 22:26] mnorfolk03 commented on #98
Can confirm, I also have this issue with the portable version.

[2022-11-30 15:33] TheArkive commented on #98
Same issue here.  I just upgraded to the latest release `1.0.9007-14` and it seems to be working fine.  I'll post again if I can uncover any more info, but for now, try an upgrade.